// Stylesheet

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')

// MIXINS
@mixin transition($time)
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1)

@mixin rotate($degree)
  -webkit-transform: rotate($degree)
  -moz-transform: rotate($degree)
  -ms-transform: rotate($degree)
  -o-transform: rotate($degree)
  transform: rotate($degree)

// HELPERS
.flex
	display: flex
	align-items: center
	justify-content: center
	&--h
		flex-direction: row
	&--v
		flex-direction: column

.chewy
	font-family: 'Chewy', 'Poppins', sans-serif

.poppins
	font-family: 'Poppins', sans-serif

// GENERAL
body, html
	margin: 0
	height: 100%
	font-size: 20px
	font-style: normal
	font-variant: normal
	font-weight: normal
	font-family: 'Poppins', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	background-color: white
	p
		margin: 0

html
	-webkit-box-sizing: border-box
	box-sizing: border-box
	font-size: 100%
	line-height: 1.15
	-webkit-text-size-adjust: 100%

*
	background-repeat: no-repeat
	text-align: center
	&:after,
	&:before
		background-repeat: no-repeat

h1,h2,h3,h4,h5,h6
	margin: 0 auto
	font-weight: initial
	@extend .chewy

section
	width: 100%
	&:focus
		outline: none

ul
	padding-left: 0
	li
		list-style: none

a,
a:link,
a:active
	color: inherit
	text-decoration: none

// HEADER
header
	height: 400px
	background-color: #F0E7C8
	.nav-wrap
		display: flex
		align-items: center
		justify-content: space-between
		width: 1200px
		margin: 0 auto
		padding: 20px 0
		.logo img
			width: 156px
		.nav
			display: flex
			gap: 30px
			font-size: 22px
			@extend .chewy
		@media only screen and (max-width: 75rem)
			width: 100%
			flex-direction: column
			.logo
				margin-bottom: 20px
	.content
		height: 328px
	.title
		font-size: 64px

.sec
	padding: 100px 0
	&--portfolio
		.content
			display: flex
			flex-wrap: wrap
			gap: 2px
			justify-content: center

.page-title
	font-size: 48px

.page-content
	gap: 50px

.social
	gap: 5px
