// General
body, html
	margin: 0
	height: 100%
	font: normal normal 14px/1.5 $montserrat
	background-color: black
	color: white
	line-height: 1.5
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

*
	background-repeat: no-repeat
	text-align: center
	&:after,
	&:before
		background-repeat: no-repeat

h1,h2,h3,h4,h5,h6
	margin: 0 auto
	font-weight: initial

@include parallax-init

section
	width: 100%

ul
	padding-left: 0
	li
		list-style: none

b
	font-family: $montserrat-semibold

i
	font-family: $montserrat-italic

a,
a:link,
a:active
	color: inherit

// Helpers
.left-to-center
	text-align: left
	@media only screen and (max-width: 40rem)
		text-align: center

@media print, screen and (max-width: 39.99875em)
  .hide-for-small-only
    display: none

.wrapper
	margin: 0 auto
	width: 100%
	max-width: 1920px
	overflow: hidden
	position: relative
	&:before
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		overflow: hidden
		background:
			image: url('../images/space-bg-first-half-min.jpg')
			position: top center
			repeat-y: repeat
		@include parallax(-1)

.paragraph
	font-size: 19px
	font-weight: 300
	@media only screen and (max-width: 40rem)
		font-size: 16px

form.form
	text-align: center
	position: relative
	top: 65px
	textarea,
	input
		text-align: left
		max-width: 466px
		border-radius: 4px
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.25)
		margin: 0 auto 1rem
	input
		height: 50px
		&[type="submit"]
			@extend .subscribe
			border: 0
			margin-bottom: 0
			&:hover
				cursor: pointer

footer
	background-color: #e94747
	position: relative
	.footer-content
		position: absolute
		top: -70px
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		padding: 20px 0
		img
			margin: 0 5px
