// Sections
.sec
	position: relative
	&--hero
		background:
			image: url('../images/home-planet-min.png')
			position-x: center
		&:after
			content: ""
			display: block
			width: 280px
			height: 814px
			background:
				image: url('../images/offset-planet.png')
				size: contain
			position: absolute
			z-index: 0
			right: 0
		.logo
			margin: 200px auto 160px
		.paragraph
			margin-top: 80px
		@media only screen and (max-width: 80rem)
			background-size: contain
		@media only screen and (max-width: 40rem)
			background-size: 40rem
			.logo
				margin: 100px auto 100px
			.paragraph
				margin-top: 0
				
	&:nth-child(2)
		padding-top: 450px
