<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
<body>
  <h1>Sobre</h1>
  <p>Essa é minha nova página "Sobre". Voltar para <a href="/">home</a></p>
</body>
</html>