<!DOCTYPE html>
<html>
<head>
  <title>Assinatura de email</title>
  <meta charset="UTF-8"/>
</head>
<body>
	<table style="border: 1px solid #ECECEC; border-radius: 4px;">
		<tr>
			<td style="width: 200px; height: 100px; padding: 0px; background-color: #040b1b;">
				<img src="https://brianmoreira.com/images/brianmoreira-thumbnail.jpg" width="200">
			</td>
			<td style="width: 300px; height: 100px; padding: 0 10px; border-left: 1px solid #ECECEC;">
				<span style="font-family: Verdana, sans-serif; font-size: 15px; padding-bottom: 10px; display: block;">Brian Moreira | Designer, Coder & Artista Freelancer</span>
				<span style="font-family: Verdana, sans-serif; font-size: 12px; font-weight: 300; display: block;">
					<a href="https://brianmoreira.com" target="_blank" style="color: #F92468; text-decoration: none; display: block; padding-bottom: 2px;">https://brianmoreira.com</a>
					<a href="mailto:hey@brianmoreira.com" style="color: #222222; text-decoration: none; display: block;">hey@brianmoreira.com</a>
				</span>
			</td>
		</tr>
	</table>
</body>
</html>
