<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="wrapper">
			<section class="sec sec--hero">
				<div class="grid-container">
					<div class="grid-x">
						<div class="cell">
							<h1 class="logo"><img src="images/logo-brianmoreira-negativo.png" alt="Logotipo Brian Moreira" title="Logotipo Brian Moreira"></h1>
						</div>
					</div>
					<div class="grid-x">
						<div class="cell medium-3 medium-order-1 small-6 small-order-2">
							<a href="#"><img src="images/placa-portfolio.png" alt="Link Porfolio" title="Link Porfolio"></a>
						</div>
						<div class="cell medium-6 medium-order-2 small-12 small-order-1">
							<h2 class="paragraph">hey! Meu nome é <b>Brian</b>. Sou um designer e desenvolvedor front-end freelancer aprendendo ilustração e animação 2D e busco incorporar estas habilidades em projetos criativos.</h2>
						</div>
						<div class="cell medium-3 medium-order-3 small-6 small-order-3">
							<a href="#"><img src="images/placa-contato.png" alt="Link Contato" title="Link Contato"></a>
						</div>
					</div>
				</div>
			</section>
			<section class="sec">
				<div class="grid-container">
					<div class="grid-x">
						<div class="cell medium-8 medium-offset-2 small-offset-0">
							<p class="paragraph">Sou um explorador de mundos distintos de uma mesma galáxia.<br>
							Um astronauta coletando conhecimento e expandindo suas possibilidades.</p>
							<p class="paragraph">Abaixo estão os mundos que descobri em minha jornada,<br>
							classificados por níveis de conhecimento.</p>
							<img src="images/rocket.png" alt="Rocket Illustration">
						</div>
					</div>
				</div>
			</section>
		</div>
		<script type="text/javascript" src="javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/scripts.js"></script>
	</body>
</html>