<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title><%= title %></title>
		<meta name="description" content="Designer & Desenvolvedor front-end de websites Freelancer. Conheça meu trabalho e portfolio de ilustração e animação 2D através de uma jornada espacial.">
		<meta http-equiv="Content-Language" content="pt-br">

		<meta property="og:site_name" content="Brian Moreira">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://brianmoreira.com/" />
		<meta property="og:image" content="https://brianmoreira.com/images/brianmoreira-share-cover.jpg" />
		<meta property="og:title" content="Brian Moreira | Designer, Coder & Artista Freelancer" />
		<meta property="og:description" content="Designer & Desenvolvedor front-end de websites Freelancer. Conheça meu trabalho e portfolio de ilustração e animação 2D através de uma jornada espacial." />

		<meta name="twitter:creator" content="@brianalvesm">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content="https://brianmoreira.com/images/brianmoreira-share-cover.jpg" />
		<meta name="twitter:title" content="Brian Moreira | Designer, Coder & Artista Freelancer" />
		<meta name="twitter:description" content="Designer & Desenvolvedor front-end de websites Freelancer. Conheça meu trabalho e portfolio de ilustração e animação 2D através de uma jornada espacial." />

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-chrome-512x512.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
		<link rel="icon" href="images/favicon/favicon.ico">
		<link rel="manifest" href="images/favicon/site.webmanifest">
		<meta name="theme-color" content="#000000">

		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<link rel="stylesheet" href="/stylesheets/motion-ui.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
		<main class="wrapper">
			<section class="sec sec--hero">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<div class="hero-wrap">
								<img src="images/logo-brianmoreira-negative.png" alt="Logotipo Brian Moreira" title="Logotipo Brian Moreira" tabindex="0" class="logo">
								<img src="images/home-planet.webp" class="home-planet hide-for-small-only" alt="Home Planet" title="Home Planet">
							</div>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-3 medium-order-1 small-6 small-order-2">
							<a href="#portfolio" title="Âncora para a seção com o Portfolio"><img src="images/sign-portfolio.png" class="signs" alt="Link para Porfolio" title="Link para Porfolio"></a>
						</div>
						<div class="cell medium-6 medium-order-2 small-12 small-order-1">
							<div class="hero-wrap">
								<p class="paragraph" tabindex="0"><i>hey!</i> Meu nome é <b>Brian</b>. Sou um designer e desenvolvedor front-end de websites freelancer aprendendo ilustração e animação 2D, buscando incorporar estas habilidades em projetos criativos.<br><br>Continue descendo para explorar.</p>
							</div>
						</div>
						<div class="cell medium-3 medium-order-3 small-6 small-order-3">
							<a href="#contato" title="Âncora para a seção de Contato"><img src="images/sign-contact.png" class="signs" alt="Link para Contato" title="Link para Contato"></a>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--intro">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell medium-8 medium-offset-2 small-offset-0">
							<article tabindex="0">
								<div class="switch-mobile">
									<div>
										<p class="paragraph">Sou um explorador de mundos distintos de uma mesma galáxia.<br>
										Um astronauta coletando conhecimento e expandindo suas possibilidades.</p>
										<p class="paragraph">Abaixo estão os mundos que descobri em minha jornada,<br>
										classificados por níveis de conhecimento.</p>
									</div>
									<div>
										<p class="paragraph">Sou um explorador de mundos distintos de uma mesma galáxia. Um astronauta coletando conhecimento e expandindo suas possibilidades.</p>
										<p class="paragraph">Abaixo estão os mundos que descobri em minha jornada, classificados por níveis de conhecimento.</p>
									</div>
								</div>
								<img src="images/rocket.png" alt="Ilustração do foguete" title="Ilustração do foguete">
							</article>
						</div>
					</div>
				</div>
				<a class="moron-mountain" data-open="moron-mountain-reveal"><img src="images/moron-mountain.png" alt="Montanha Bobolândia" title="Montanha Bobolândia"></a>
				<div class="large reveal customized" id="moron-mountain-reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
					<div class="mask">
						<div class="reveal-content">
						  <span class="reveal-title">hey, você encontrou um easter-egg!</span>
						  <p class="paragraph">Você encontrou a <b>Montanha Bobolândia</b> de <b>Space Jam</b>.<br>
						  	Para recompensar sua descoberta, digite <b>#Nerdlucks</b> no campo<br>
						  	chamado “código secreto” do formulário caso esteja entrando em<br>
						  contato para fazer um orçamento e receba 5% de desconto!</p>
						</div>
					</div>
				  <button class="close-button" data-close aria-label="Close modal" type="button">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			</section>
			<section class="sec sec--design">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
								<div class="planet-design-wrap">
									<h1 class="sector-title" tabindex="0">Planeta <b>Design</b></h1>
									<img src="images/planet-design.png" alt="Planeta Design" title="Planeta Design">
								</div>
								<div class="switch-mobile">
									<div>
										<p class="paragraph" tabindex="0">Possuo formação em <b>Design Gráfico</b>, o que me proporcionou<br>
											noções de criação de layout, diagramação, impressos,<br>
											branding e edição de imagem.<!--  Embora eu não trabalhe<br>diretamente com design gráfico, seus fundamentos<br>estão presentes no que faço. --></p>
									</div>
									<div>
										<p class="paragraph" tabindex="0">Possuo formação em <b>Design Gráfico</b>, o que me proporcionou noções de criação de layout, diagramação, impressos, branding e edição de imagem.</p>
										<!-- <p class="paragraph">Embora eu não trabalhe diretamente com design gráfico, seus fundamentos estão presentes no que faço.</p> -->
									</div>
								</div>
								<div class="rating">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<span>Elementar</span>
								</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--web">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell large-7 large-offset-0 medium-8 medium-offset-2">
							<article class="planet-web-wrap">
								<div class="sector-title" tabindex="0"><img src="images/sector-title-web.png" alt="Desenvolvimento Web" title="Desenvolvimento Web"></div>
								<div class="switch-mobile">
									<div>
										<p class="paragraph" tabindex="0">10 anos como web designer — criando websites,<br>escrevendo em <b style="color: #A6E22B;">HTML</b>, me arriscando no <b style="color: #67D8EF;">Javascript</b><br>e me divertindo com o <b style="color: #F92468;">CSS</b>.</p>
									</div>
									<div>
										<p class="paragraph" tabindex="0">10 anos como web designer — criando websites, escrevendo em <b style="color: #A6E22B;">HTML</b>, me arriscando no <b style="color: #67D8EF;">Javascript</b> e me divertindo com o <b style="color: #F92468;">CSS</b>.</p>
									</div>
								</div>
								<div class="rating">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<span>Proficiente</span>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="sec">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<ul class="suite-animated suite-animated-milkyway">
								<li class="is-purple">   <img src="images/gems/purple-gem.png"    alt="purple gem"></li>
								<li class="is-pink">     <img src="images/gems/pink-gem.png"      alt="pink gem"></li>
								<li class="is-turquoise"><img src="images/gems/turquoise-gem.png" alt="turquoise gem"></li>
								<li class="is-orange">   <img src="images/gems/orange-gem.png"    alt="orange gem"></li>
								<li class="is-green">    <img src="images/gems/green-gem.png"     alt="green gem"></li>
								<li class="is-blue">     <img src="images/gems/blue-gem.png"      alt="blue gem"></li>
								<li class="is-darkblue"> <img src="images/gems/darkblue-gem.png"  alt="darkblue gem"></li>
								<li class="is-red">      <img src="images/gems/red-gem.png"       alt="red gem"></li>
							</ul>
						</div>		
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-6 medium-offset-3">
							<p class="paragraph" tabindex="0">Eu comecei do zero, mas hoje meu trabalho é aprimorado com pré-processadores, frameworks e <b style="color: #A6E22B;">SASS</b> (o que usei para fazer a animação acima), configurando projetos com <b style="color: #67D8EF;">Node</b> e versionando o código com <b style="color: #F92468;">Git</b>.</p>
							<p><small>Design dos cubos criado por <a href="https://www.behance.net/rodolfohans" target="_blank" title="Link para o perfil do Designer Rodolfo Hans no Behance">Rodolfo Hans</a>.</small></p>
							<!-- <p class="paragraph" tabindex="0">Quer ter um website personalizado como o meu para exibir seu portfolio ou divulgar sua empresa? Entre em <a href="#contato">contato</a>!</p> -->
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--illustration">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<h1 class="sector-title" tabindex="0">Planeta Ilustração</h1>
							<div class="rating">
								<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
								<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
								<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
								<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
								<span>Elementar</span>
							</div>
						</div>
						<div class="cell large-4 large-offset-8 medium-6 medium-offset-6">
							<div class="animation-wrap">
								<h2 class="sector-subtitle" tabindex="0">Animação!</h2>
								<img src="images/planet-animation.png" alt="Planeta Animação" title="Planeta Animação" class="planet-animation">
								<div class="rating">
									<img src="images/star-filled.png" alt="Estrela preenchida" title="Estrelha Preenchida">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<img src="images/star-blank.png"  alt="Estrela vazia" title="Estrela vazia">
									<span>Aprendiz</span>
								</div>
							</div>
						</div>
						<div class="cell medium-8">
							<article class="sec-content" tabindex="0">
								<p class="paragraph">Desde os primeiros anos de idade eu já gostava de desenhar — assim como assistir aos desenhos animados — o que continuou sendo um hobby e hoje se solidificou numa ambição profissional.</p>
								<p class="paragraph">Recentemente, <span class="has-tooltip">como uma lâmpada se acendendo sobre minha cabeça<span class="tooltip"><img src="images/eric.webp" alt="Lâmpada Eric Forman"></span></span>, descobri que gostaria de tentar uma carreira de animador. Portanto, estou dando meus primeiros passos como aprendiz!</p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--asteroid" id="portfolio">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<h1 class="sector-title" tabindex="0">Asteroide Portfolio</h1>
						</div>
						<div class="cell medium-6 medium-offset-3">
							<div class="switch-mobile">
								<div>
									<p class="paragraph sec-content" tabindex="0">Neste asteroide estão meus trabalhos de desenho,<br>pintura e animação. Clique nas imagens para<br>ler descrições sobre cada um deles.</p>
								</div>
								<div>
									<p class="paragraph sec-content" tabindex="0">Neste asteroide estão meus trabalhos de desenho, pintura e animação. Clique nas imagens para ler descrições sobre cada um deles.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--portfolio">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<div class="portfolio-wrap">
								<div class="row">
									<div class="item">
										<figure tabindex="0">
											<img src="images/portfolio/get-over-here.jpg" alt="Get Over Here - Portfolio" title="Get Over Here - Portfolio">
											<figcaption>
												<h3 class="caption-title">“Get over here”</h3>
												<p class="caption-content">Certa noite me veio a ideia de criar ilustrações retangulares com uma razão de 3:1 com o intuito específico de exibir no Instagram como um carrossel, revelando a continuação da arte conforme o usuário interage com ela. Imaginei o Scorpion, de Mortal Kombat, fazendo seu ataque clássico “Get over here” no primeira parte e apenas no final revelar o Sub-zero fugindo na outra direção.</p>
												<small>Pintura digital feita no Krita, 2020</small>
											</figcaption>
										</figure>
									</div>
									<div class="item">
										<figure tabindex="0">
											<img src="images/portfolio/planets.png" alt="Planetas - Portfolio" title="Planetas - Portfolio">
											<figcaption>
												<h3 class="caption-title">Planets!</h3>
												<p class="caption-content">Parece familiar? Quando tive a ideia de representar minhas aspirações profissionais no website como diferentes planetas que eu explorava, resolvi primeiro fazer esta arte para ver se sairiam planetas legais.</p>
												<small>Pintura digital feita no Krita, 2020</small>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="item">
										<figure tabindex="0">
											<img src="images/portfolio/merry-christmas-folks.jpg" alt="Merry christmas, Folks! - Portfolio" title="Merry christmas, Folks! - Portfolio">
											<figcaption>
												<h3 class="caption-title">“Merry Chirstmas, Folks!”</h3>
												<p class="caption-content">Eu participei do concurso <b>“Holidays of Mayhem - Card fan art contest”</b> do jogo Looney Tunes - World of Mayhem. O objetivo era criar um cartão de natal com os Looney Tunes. Minha arte ficou entre os finalistas!</p>
												<small>Pintura digital feita no Krita, 2020</small>
											</figcaption>
										</figure>
									</div>
									<div class="item extra">
										<figure tabindex="0">
											<img src="images/portfolio/joe-monday.jpg" alt="Joe Monday - Portfolio" title="Joe Monday - Portfolio">
											<figcaption>
												<h3 class="caption-title">Joe Monday</h3>
												<p class="caption-content">Este é um trabalho da faculdade cujo intuito era fazer uma pintura usando apenas tons de cinza, e mais uma vez meu amor por Looney Tunes inspirou minha escolha: O famoso sargento Joe Monday.</p>
												<small>Pintura feita com guache, 2014</small>
											</figcaption>
										</figure>
										<figure tabindex="0">
											<img src="images/portfolio/brianville.jpg" alt="Brianville - Portfolio" title="Brianville - Portfolio">
											<figcaption>
												<h3 class="caption-title">Brianville</h3>
												<p class="caption-content">Experimentando trabalhar com lápis de cor e marcadores, fiz esta simples paisagem: A entrada de Brianville.</p>
												<small>Pintura feita com lápis de cor e marcadores, 2019</small>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="item align">
										<video muted autoplay loop poster="images/portfolio/pidgeon.jpg" tabindex="0">
											<source src="videos/pombo.mp4" type="video/mp4">
										</video>
									</div>
									<div class="item align">
										<figure tabindex="0">
											<img src="images/portfolio/venusaur.png" alt="Venusaur - Portfolio" title="Venusaur - Portfolio">
											<figcaption>
												<h3 class="caption-title">Venusaur</h3>
												<small>Pintura digital feita no Photoshop, 2019</small>
											</figcaption>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="cell">
							<div class="gallery-cta-wrapper" data-open="desenhos-reveal">
								<div class="gallery-cta-content">
									<h3 class="gallery-cta-title">Sketchbook</h3>
									<span>Clique para ver mais</span>
								</div>
								<ul class="gallery gallery--cta">
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/0H3v4enucc0P7kUnbJTdZZuEyte8LVdJQ3vy-ZUaNGIY6YmPC7L3lhcPk9pKPsDbu7RFxHrMbgC1AdSIyloVPaauclt8j-vSxYUVLrPANcEfSwuP6gczHzAQSlqR-J-F58AMCttM7g=w1920-h1080"></li>
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/mC_aaK--S0wTesRh-DcOwN4KdMC11QlgAQ_Ibklp7Jv080v8smiKT-CezPcQV_quXh7Vrd5NKE_nzNQvFDU0yl0a0KYN3z8pSj61LT604xFXU8h_P5yMabU9_yPQEl6lfFEThAoRyw=w1920-h1080"></li>
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/gxZo-IQCj8ho_ohDYMbfFvvy7FOgDr79IPWM1VpKTtbNXSGWx_v4PZ57nanX-EiDrpMX8wOWA0ZtV6UBUxekdXC5O1Cyzu5HzDB-7wnpxRxDhQxY8GDW9aMWQ0nwzspn5eVFb54wvA=w1920-h1080"></li>
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/zzhAlgbWJip0d2XNdvvLYDFPZDhEFeXSKvJFJfcKAx5MAOudToJUtalOk-Pn58uNZChahqJ7nrlgGalBWK27EDQmdRpyFZBUWBgzOXI-9BCAr4GRkGhB1JvK6XyyO7SD1ylwn8mOQA=w1920-h1080"></li>
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/OhMIKMc73UyKuy9l8rxGUk0ZuO_EKr3hmCxOPBq50JapMB7u2lpnTAY3mMeU5RRw3OMzNAOc0-YOzSwbEODN9Cpo3He8b8JmzaR821a1orzO6bNfp64GQfedVeyf5tZfV7296UBUyw=w1920-h1080"></li>
									<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/RD8JSj4UkrJs_TlhtjgZEQfOD6JC_JhFxWmEVDln1mhsMRD25e4XQwRe6pAxssHv0swBXCvBGuA-9KVYASpobKITG_Lj6pQ0BE0zkNdSRZdmBWvT5Aq8-eLK-3Sj41U0mOhyfIf6lw=w1920-h1080"></li>
								</ul>
							</div>
							<div class="large reveal" id="desenhos-reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
								<div class="mask">
									<div class="reveal-content">
										<ul class="gallery">
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/JOde0ezCZOdwKAPqPcxD3N7M8MP8q0_rPmO4bOPy1AIN8DUsPgGopOYt0Ck2HoigB4Nkee-2oM4OQ3HCxSUP7fE_QoL20Ch7Y9g5OYFQvQzvcO0vbRP81T0gncNK6KwsReCHWq_BSw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/cx9TXQNULbmYQ7Ck4jlh059cu0zspT4g0YMuTWBzI64iv6XXaRWry6nGO_cT1tKwHHj0Y5HZO5Z6q5Y08JBR3mBfyfMysBuyUiLwVkmidagtbYrl19pXPeCUDaVFV5rOtZgMod0bWQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/kBq4-mbsUn6-SAMwCErsNCvaoOak3dPN7VahU3tL7TOQNP4W5jgNywtAongWwwuZZoyJvvJhSaYJiD35ECsJGT9LJpNrpYl8wGVQGlEsnl77DdmWwYg-vrNKnrB2bnShYsprIN2FtA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/zV5jWASVlAVvz1SNAuFv_8nhbQnh76a3etsNdu-xzPm9cARVkQvpN2hJYYmGyUTDv0tcYut4lDwnfH6sSytTkRfMsmHposIxubLMal0tZreLyfyOcUVuK_H9yRr9z_R1fMnk1j-Vpw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/onX3sdRJWjVVa3K6P9F8faWAKSzVJS7Wn74L7ooMmJgxUj3eRt02NBTR8OSE8aNL0G7QHfCoI2pyow_uDBFq3FD2PLyuXHC0uv9gW6j_fPdr4zfEiEz5DySojshWmOsrzpfWVvCCZA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/ixA-w7h3PVdBR0OcXtVMt0HazDGMvcy2Xg6eK-bzm_jqz2KuWH9XdeifaL81wEny177YsQ7tKHp_pq6ZwnaCsAXSEZJarhYv17HJmWKEbNwuzN2p63cTYVlhyMK7yQTWAFd-U36gBQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/h8Qt3izkvuOYGP6orbITqEMJq7Bf4Waxwa0x7THjsuN6MSx6IITbg_P1sj26LXZA_PCkC06EQimRv4hrGYnG7USyjhSJAWGpACbb8bGrVWM-kT7aXBjkv7UAtd8xYbUxbdUyDh5sJw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/qyZeqDDb8sDhmPhCZPyhrjGOQaNVmwiGKojIuMbXu2Cxs5f_3M7KU6_imHO5PK9c0vEs9w8gzE3RcSglygRUiU2tlb6tEAIuwab16CmlgKJVK7AbY8Io77DRpYwzDYja_l53rf0VRQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/p4zqkrsJkLkoTQifDc5BgqISBIQxhUdbCD1Pj7iEXS-aYkOqkLCxMkm36kj30q-vakiy0mBpH1f6h3NRtxUxE0zePHM5cx_DAQKabHAtASTgfgkAUTkolTZlcHeavsTapFjVO6uvSw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/quZ9DXnJYUXX3dzjWcAE7_jJBlt-4DOjUUVnizC1lk4VMBJNAMz1MwO8x2yubuovhlm61_h6fh6BAz15uZLTpTlhFrtlt7iKlBPdYoT6qNtlxTdEYMW0i_hebHPM08jMBeaQB2_6gw=w1920-h1080"></li>
											<!-- <li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/1NBBiCvN3JvYViH41zvdlB1YDDXEJYMqJ3NaOnVEiel7IRDdHStl3Vrzn45uZSNToNTxJRY4UM8XkRcNDDeB4gLeZs_vnE-8z6-N_kir3TEI30m5BEaMCA9wucEO2GZYWPD9Mqi5WA=w1920-h1080"></li> -->
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/wN3OdLfpKAWI75wRKiwU2aPCJLhEbX1vwCJIZWknrApR89kFmpURmtJwmKj0y2kAlM1C3aYQKEwVNDxD3xQWr2nv9vCATRW8GwBZe7V3oborwKrygE34YQVYBsxpUdd7YcysF5bumQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/qNv8occc2QozJUik_Tkm1K_oCVLiO5h4e6Ae1y5ts500thDB9CLDw4T2Mo3kHAewIOTBaixmXbDKF6hMjmguk33t7TOQyKDadYQJ291M4vaBvSkrD_vFsGviwoc24ayBuAZQYRrW5Q=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/_25VxkYMa5SuharA5kGovCBdZdoi6CZTccZm0nDZUBOh-TZEk6IuYQhNzr7YK-h8SGLT4OfVrnIwdP8DGg5zPg7gMMbQgEIUPjWbiYoA8-sFpa7wTTkIM9tnNsBiWwkRyKPQdtnxPw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/_4ZjQHUIKCYKqprhhrQLgaXqBi1WG3dP1OWu3aNwUbKFzJP1J4wVRzGVifY8c_sY3ApJpgRaMKGIzy06nBR6vHlZm5OE-DierYA-TS2BOxt3x1IeziO417L6kln0TiMLtFW2iDR1gQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/QEyB2VR-wNJwP7RihwSLBX2pFSR9ojpvlDcvtiy3vUBLxstOqz5wcxQV1dvocsJqNIjbU-3FC2Aspy0l8X9I12JqiEiBrR1kklvpVPQgvJ9DnYOVdph2k-p_FjvgQfGDWLqi-6CMjA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/zldYUWT2XGZIzks7NRfB-6RExr9R3fekv9uChM2sXyayypFvZrEGOi3NR8kzBHY6_GC3aXnpKuYpwfhxYbu2SA_vQRbMnwtWnhaLnHpp3TRRXRITk7eIjVb9mBXR2yNSqAC2t7uD5Q=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/tLDCSoewfSGaosXIdxZYdfnGLK8gHkKbc3QZGi-yOZfn6zed-o8VWmyWe3Wx3BVgV_6zw-MIVFd5t9teqVSGq1IdDdrpn256f-zA40oAygCoi0MyVUuVD867I6mBKx9JYGPAJO7Bug=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/OuG-Yoz3arQeDc-C3z9zlcSWS46JbzFoPbT_iYkNqEbk4Yhp4d7e6ELWhm2n0GFbb0kffxGoMH9c56YD4qpB9khlZnE3nuS1X4xRR5F-OZJqUPra2gphDZRjuqWhYB-okQ68hTusjw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/X1esIjNh9cK7Hn2e4i66-_GYtbUBbIR3qlkbA8_wEz4x5d6MfBI8az34MZfd3dcPY8HEy1Ds_HT7VmCOLASh20MejkGHSBZiOPkNkkSSo2HLteYyL4LKmEJ1-1p9vDmmYwhhq6N1Jg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/hBMjRpav4xjjmNa5TdgXHp2an3epqiTcMU5kjc9LT4ca5QhBMbJk3poAl5HTNb3pBJyf710WnFeUvCJlUkUHHiZ_cfffdccyVKnPhAGegJ8h7oZYoS0-2KmIa9u3U992Ml2vysJkjg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/h9rMuUL6rabgQu8JG52O7g9vzS-BSXhVFfV0lsrKArbctRDUXuT7Lq24Fk0EQW9hHWkdmNfq5SgC9AV9YIkvYrCTvbwjmMqKi6mGQScyA5Ix0BtkAY1EU_k1DnMN27fiYanK4rVEJA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/tHqwS4KFrVuqNKpLMKLegBTvPXiROwa9cZH3DxuI123ljkdJtldCPNDE5a20_hJBSWAZQ74W2ZamYUFJKFQmooW7T_957FCQ3u7asYLFQ4onJB4aKUdIALZkCyd9TfL2ngPNuR5Waw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/4QWwFImkB-iTSQnjgM6uYNIsHtUrphVUTb1TopJSOkTj48C7iGL9T76LFJM4AhHjBno-og6SWpPiBFCa_qylrEOGudXooF7gkykUDAnmmZ-PaMLmMRiewJwpZErdT7nmROH84O-HXw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/OB_w4ngv3RpxIhBNEJdUMOETy2k-RJahkq9bOsZHLreRqFX7ckv358N7kWQv01NSQZ5PB75-oKS0ue7PzeLuOcykE3KPJMEOsd7Jb3qwJQqAeRHBR1kC8EfRheY-me7PWbu-nmy-vg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/5uoz7hIFJvvt6O5CQdMNTVxsZ7-9BwAfhKdyQdc7hhjRnnaLIlWsW5o0MmVvinrwutwZOT9URDGcQVO_BEQcTPP8nbMfbrxJflZzlAMz7FOdfzk7FPCtOKOKVk3MSw3TBueR9iPCsA=w1920-h1080"></li>
											<!-- <li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/jHz3aM6kGzEfxKVKWVGnv7miyBumPeY0D_OSncAx-hLTELV08D0dIQHyCfba-V8GnO14j1FPP-nGHKbY1CenK5jBcxFBA4a3rP1Qirk9qWWAMw1fQ_q346gPEIxaPbTWWajZeolEqw=w1920-h1080"></li> -->
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/UZGWjGWMmYUdDWY7errEqpaOknLifzeaZBr6v6Fgd5hCoOb4oNlzysLDDs2Pqqm31pF4vFllKAZz3aPJZfp3v9Ywna94MOfQgwBRumyaiMWFs3xHEBcK51o5gsNKXftaUsRnwNMF6w=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/zzhAlgbWJip0d2XNdvvLYDFPZDhEFeXSKvJFJfcKAx5MAOudToJUtalOk-Pn58uNZChahqJ7nrlgGalBWK27EDQmdRpyFZBUWBgzOXI-9BCAr4GRkGhB1JvK6XyyO7SD1ylwn8mOQA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/O3j3OsNUPvrIdHltUWHk8xJskog6b8F8ZXxaz1AD82mv7IoBhc2V2KDZ03qGLCHmjEyCMYEHZoUzFIW7AeSYv6EmJtAxVf_j7bRoeCJZGFPNsRkYvrh8Et8a_RwX8NpMyOmbgaDKqw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/OhMIKMc73UyKuy9l8rxGUk0ZuO_EKr3hmCxOPBq50JapMB7u2lpnTAY3mMeU5RRw3OMzNAOc0-YOzSwbEODN9Cpo3He8b8JmzaR821a1orzO6bNfp64GQfedVeyf5tZfV7296UBUyw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/RD8JSj4UkrJs_TlhtjgZEQfOD6JC_JhFxWmEVDln1mhsMRD25e4XQwRe6pAxssHv0swBXCvBGuA-9KVYASpobKITG_Lj6pQ0BE0zkNdSRZdmBWvT5Aq8-eLK-3Sj41U0mOhyfIf6lw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/0H3v4enucc0P7kUnbJTdZZuEyte8LVdJQ3vy-ZUaNGIY6YmPC7L3lhcPk9pKPsDbu7RFxHrMbgC1AdSIyloVPaauclt8j-vSxYUVLrPANcEfSwuP6gczHzAQSlqR-J-F58AMCttM7g=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/gxZo-IQCj8ho_ohDYMbfFvvy7FOgDr79IPWM1VpKTtbNXSGWx_v4PZ57nanX-EiDrpMX8wOWA0ZtV6UBUxekdXC5O1Cyzu5HzDB-7wnpxRxDhQxY8GDW9aMWQ0nwzspn5eVFb54wvA=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/mC_aaK--S0wTesRh-DcOwN4KdMC11QlgAQ_Ibklp7Jv080v8smiKT-CezPcQV_quXh7Vrd5NKE_nzNQvFDU0yl0a0KYN3z8pSj61LT604xFXU8h_P5yMabU9_yPQEl6lfFEThAoRyw=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/Z3MYv86wdgfi3yCbPwZXndiUlC7qKRbJdr60qceeLQ8yI3VRFWI0SHP4tJNIt9fucmDmGizi5caR1ZX93-c09kSc4lVYtBo2xYVrCBbvbfaxvr80HlfBlAFcqttKVQnR-WP1f3T3gQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/jXCfFERh0JKfuQAD19GDUe5E3pZXoJg1XWE4VaUBlYaYMcdfUb9uJPT92A46I5eFs1uFoc0ZSyTkJUzC6UbsbsrG4IFbXr1rjJw0VnOk1p0TnlWYkNcVeLLobOzEB-Y3XkA_BWBNWg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/j2UAmqKZotBuDu79G3XLsovXOx8VwBCVjaegVH6DRDQtj3JBKeZccPaQ58qGaO9SJkDeq9BjHtI81U0xP3r0LmjPKq6q0jr4qZFfdA8IjFI-HSbcDqsGWmkGznj90vFOoRRAOd5bMg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/3UT2SwnhH-izGmkVjBueO_3mryQ8hjKCSbPYGDjy9xN2Alvlj8enESx37wx9iKENoLvua2kTe4VNsi54ZZSQn5FPO06oeLm_6Q9oPWXQ4dUFtxi8g3aIiihEMCmEF0Zz4yOLN2Z2-w=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/VRJWPFrGNptoCMC1MMKrDQydDgjI5UKiKWUDZ4ONuLKdGHczhKYm-AFNawfT0ELaic_zZ13JRCshfrP1eOmepHSOOSbVyLWqrEsyjfZon09Ipfjzu7zqSBZg5HKcVcdX1WhFuPEQTg=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/ybbqdtXkMDotI3NYOMLe6pWYQ8WxhXyj8E6R2M5GcRIztKWQHta1FC5dUpgvuw1UblTPWupMFvOkz5dAB_0kgciz5a-ivTcHjnLvYJ6bHctjQc6NQHVJBgUxhpi0FlzguHyIB5mcSQ=w1920-h1080"></li>
											<li><img alt="Desenho do Sketchbook" class="lazyload" data-src="https://lh3.googleusercontent.com/zADt29s-zigjSlg1-EjPTfc_mMFFXOMfGIXb_u3BJyXugwa0KHknWkM1hD8mXjJJeSdM5BNKSi39wqA_4atnAkVnfpSQOtYUH26R_pXZF4E6WNBWKDoqF_ZPzwFBGF_EICGiFuBY7g=w1920-h1080"></li>
										</ul>
									</div>
								</div>
							  <button class="close-button" data-close aria-label="Close modal" type="button">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
						</div>
						<div class="cell">
							<div class="demo-reel-wrap">
								<div class="responsive-embed widescreen">
									<iframe src="https://player.vimeo.com/video/386368290" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--asteroids-end">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<a class="monolith" data-open="monolith-reveal"><img src="images/monolith.png" alt="Monolito"></a>
							<div class="large reveal customized" id="monolith-reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
								<div class="mask">
									<div class="reveal-content">
									  <span class="reveal-title">hey, você encontrou um easter-egg!</span>
									  <p class="paragraph">Você encontrou o monólito de <b>2001: Uma Odisseia no Espaço</b>.<br>
									  	Para recompensar sua descoberta, digite <b>#MeDesculpeDave</b> no campo<br>
									  	chamado “código secreto” do formulário caso esteja entrando em<br>
									  contato para fazer um orçamento e receba 5% de desconto!</p>
									</div>
								</div>
							  <button class="close-button" data-close aria-label="Close modal" type="button">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--youtube">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<h1 class="sector-title" tabindex="0"><b>Youtube</b> Channel</h1>
							<div class="switch-mobile">
								<div>
									<p class="paragraph" tabindex="0">Tenho um canal no Youtube onde faço análises e<br>
										reflexões sobre arte e o mundo que a inspira.<br>
									Apoie o projeto se inscrevendo no canal!</p>
								</div>
								<div>
									<p class="paragraph" tabindex="0">Tenho um canal no Youtube onde faço análises e reflexões sobre arte e o mundo que a inspira. Apoie o projeto se inscrevendo no canal!</p>
								</div>
							</div>
							<a href="https://www.youtube.com/channel/UCk8jr5xZEDF0CecQV01--Eg?view_as=subscriber?sub_confirmation=1" target="_blank" class="subscribe" title="Link para se inscrever no canal do Youtube!">Inscreva-se!</a>
							<a href="https://www.youtube.com/channel/UCk8jr5xZEDF0CecQV01--Eg?view_as=subscriber?sub_confirmation=1" target="_blank"><img src="images/yotube-channel-banner.jpg" alt="Banner do canal do Youtube" title="Banner do canal do Youtube" title="Link no banner para acessar o canal do youtube e se inscrever."></a>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-4">
							<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/5YV_OTWr7tU">
								<img src="images/yt-video-1.jpg" alt="Analisando uma cena de Star Wars: O Despertar da Força" title="Analisando uma cena de Star Wars: O Despertar da Força">
								<figcaption>Analisando uma cena de Star Wars: O Despertar da Força</figcaption>
							</figure>
						</div>
						<div class="cell medium-4">
							<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/boKQbE4I_-8">
								<img src="images/yt-video-2.jpg" alt="A Estética de Zack Snyder" title="A Estética de Zack Snyder">
								<figcaption>A Estética de Zack Snyder</figcaption>
							</figure>
						</div>
						<div class="cell medium-4">
							<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/vMKl6hjPzls">
								<img src="images/yt-video-3.jpg" alt="A Genialidade de Black Mirror" title="A Genialidade de Black Mirror">
								<figcaption>A Genialidade de Black Mirror</figcaption>
							</figure>
						</div>
						<div class="large reveal showVideo" id="videoModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
							<div class="responsive-embed widescreen"><iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						  <button class="close-button" data-close aria-label="Close modal" type="button">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--ideology">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell medium-6 medium-offset-3">
							<h1 class="sector-title" tabindex="0">Ideologia</h1>
							<p class="paragraph">Acredito em ser um profissional abertamente posicionado sobre meus valores e ideais e também incentiva-los através do meu trabalho. Portanto, eis alguns deles:</p>
							<br><br>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-4">
							<img src="images/icons8-tubo-de-ensaio-100.png" alt="Ícone Olhando para frente" title="Ícone Olhando para frente">
							<h2 class="sector-topics">Olhando para frente</h2>
							<p class="paragraph">Apoio a ciência e o progressismo como meios de melhorarmos a sociedade e evoluirmos como espécie.</p>
						</div>
						<div class="cell medium-4">
							<img src="images/icons8-marine-pollution-100.png" alt="Ícone Somos todos do mesmo mundo" title="Ícone Somos todos do mesmo mundo">
							<h2 class="sector-topics">Somos todos do mesmo mundo</h2>
							<p class="paragraph">Respeitarmos o meio ambiente, proteger a natureza e os animais é nosso dever.</p>
						</div>
						<div class="cell medium-4">
							<img src="images/icons8-aperto-de-mao-100.png" alt="Ícone Em busca por igualdade" title="Ícone Em busca por igualdade">
							<h2 class="sector-topics">Em busca por igualdade</h2>
							<p class="paragraph">Menos desigualdade social e econômica e mais inclusão, liberdade e direitos civis.</p>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-6 medium-offset-3">
							<img src="images/icons8-circo-elefante-100.png" alt="Ícone O elefante fascista na sala" title="Ícone O elefante fascista na sala">
							<h2 class="sector-topics">O elefante fascista na sala</h2>
							<div class="switch-mobile">
								<div>
									<p class="paragraph">Meus valores são absolutamente anti-bolsonaristas.<br>Por isso, me abstenho de trabalhar com empresas que apoiem o governo atual no Brasil.</p>
								</div>
								<div>
									<p class="paragraph">Meus valores são absolutamente anti-bolsonaristas. Por isso, me abstenho de trabalhar com empresas que apoiem o governo atual no Brasil.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-10 medium-offset-1">
							<br><br>
							<div class="switch-mobile">
								<div>
									<p class="paragraph">Para recompensar aqueles que partilham destes valores, ofereço 10% de desconto em meus orçamentos aos clientes que apoiem programas sociais, movimentos de proteção ambiental,<br>pesquisa científica ou queiram imprimir seus trabalhos em materiais reciclados!</p>
								</div>
								<div>
									<p class="paragraph">Para recompensar aqueles que partilham destes valores, ofereço 10% de desconto em meus orçamentos aos clientes que apoiem programas sociais, movimentos de proteção ambiental, pesquisa científica ou queiram imprimir seus trabalhos em materiais reciclados!</p>
								</div>
							</div>
							<span><small>Ícones por <a target="_blank" href="https://icons8.com" title="Link para o website Icons8">Icons8</a></small></span>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--goodbye">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<div class="photo"></div>
							<h2 lang="en">That's all Folks!</h2>
							<div class="switch-mobile">
								<div>
									<p class="paragraph" tabindex="0">Para entrar em contato é só preencher o formulário abaixo<br>ou mandar um e-mail para <i>hey@brianmoreira.com</i>. Fique a<br>vontade para me seguir em outros lugares como...</p>
								</div>
								<div>
									<p class="paragraph" tabindex="0">Para entrar em contato é só preencher o formulário abaixo ou mandar um e-mail para <i>hey@brianmoreira.com</i>. Fique a vontade para me seguir em outros lugares como...</p>
								</div>
							</div>
							<div class="socialmedia">
								<a href="https://twitter.com/brianalvesm" target="_blank" title="Link para o meu perfil no twitter"><img src="images/icon-twitter.svg" alt="Twitter" title="Twitter"></a>
								<a href="https://www.instagram.com/brianalvesm/" target="_blank" title="Link para o meu perfil no Instagram"><img src="images/icon-instagram.svg" alt="Instagram" title="Instagram"></a>
								<a href="https://letterboxd.com/brianalvesm/" target="_blank" title="Link para o meu perfil no Letterboxd"><img src="images/icon-letterboxd.png" alt="Letterboxd" title="Letterboxd"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec sec--contact" id="contato">
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<h1 class="sector-title" tabindex="0">Contato</h1>
						</div>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell medium-6 medium-offset-3">
							<form action="https://formspree.io/mrgyrpdp" method="POST" class="form">
							  <input type="text" name="name" placeholder="Seu nome">
							  <input type="email" name="_replyto" placeholder="Seu e-mail">
							  <input type="text" name="reason" placeholder="Razão pelo contato">
							  <span class="has-tooltip">
							  	<span class="tooltip">Este campo não é obrigatório. Preencha apenas se tiver obtido um código secreto durante sua jornada.</span>
							  	<span class="tooltip-icon">?</span>
							  	<input type="text" name="secretcode" placeholder="Código secreto">
							  </span>
							  <textarea rows="5" name="message" id="message" placeholder="Mensagem" required=""></textarea>
							  <input type="hidden" name="_subject" id="email-subject" value="[brianmoreira] Contato do website">
							  <input type="submit" value="Manda ver!">
							</form>
						</div>
					</div>
				</div>
			</section>
			<footer>
				<div class="grid-container">
					<div class="grid-x grid-padding-x">
						<div class="cell">
							<div class="footer-content">
								<h3>Feito com muito carinho por</h3><img src="images/logo-brianmoreira-negative.png" width="150" alt="Logo Brian Moreira" title="Logo Brian Moreira"><h3>Todos os direitos reservados</h3>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</main>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="js/lazysizes.min.js"></script>
	</body>
</html>