<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="wrapper">
			<main>
				<section class="sec sec--hero">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<div class="hero-wrap">
									<h1 class="logo"><img src="images/logo-brianmoreira-negative.png" alt="Logotipo Brian Moreira" title="Logotipo Brian Moreira"></h1>
									<img src="images/home-planet.png" class="home-planet hide-for-small-only">
								</div>
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="cell medium-3 medium-order-1 small-6 small-order-2">
								<a href="#"><img src="images/sign-portfolio.png" class="signs" alt="Link para Porfolio" title="Link para Porfolio"></a>
							</div>
							<div class="cell medium-6 medium-order-2 small-12 small-order-1">
								<div class="hero-wrap">
									<p class="paragraph"><i>hey!</i> Meu nome é <b>Brian</b>. Sou um designer<br>e desenvolvedor front-end freelancer<br>aprendendo ilustração e animação 2D, buscando incorporar estas habilidades em projetos criativos.<br><br>Continue descendo e descubra o universo.</p>
								</div>
							</div>
							<div class="cell medium-3 medium-order-3 small-6 small-order-3">
								<a href="#"><img src="images/sign-contact.png" class="signs" alt="Link para Contato" title="Link para Contato"></a>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--intro">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell medium-8 medium-offset-2 small-offset-0">
								<article>
									<p class="paragraph">Sou um explorador de mundos distintos de uma mesma galáxia.<br>
									Um astronauta coletando conhecimento e expandindo suas possibilidades.</p>
									<p class="paragraph">Abaixo estão os mundos que descobri em minha jornada,<br>
									classificados por níveis de conhecimento.</p>
									<img src="images/rocket.png" alt="Rocket Illustration">
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--design">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
									<div class="planet-design-wrap">
										<h2 class="sector-title">Planeta <b>Design</b></h2>
										<img src="images/planet-design.png" alt="Planeta Design" title="Planeta Design">
									</div>
									<p class="paragraph">Sou formado em <b>Design Gráfico</b>, o que me proporcionou<br>
										noções de criação de layout, diagramação, impressos,<br>
										branding e edição de imagem.</p>
									<div class="rating">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-blank.png">
										<img src="images/star-blank.png">
										<span>Elementar</span>
									</div>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--web">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell large-7 large-offset-0 medium-8 medium-offset-2">
								<article class="planet-web-wrap">
									<h2 class="sector-title"><img src="images/sector-title-web.png" alt="Desenvolvimento Web" title="Desenvolvimento Web"></h2>
									<p class="paragraph">10 anos como web designer e desenvolvedor front-end<br>
										— criando websites, escrevendo códigos em <b style="color: #A6E22B;">HTML</b>, me<br>
									arriscando no <b style="color: #67D8EF;">Javascript</b> e me divertindo com <b style="color: #F92468;">CSS</b>.</p>
									<div class="rating">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-blank.png">
										<span>Proficiente</span>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="sec">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<ul class="suite-animated suite-animated-milkyway">
									<li class="is-purple">   <img src="images/gems/purple-gem.png"    alt="purple gem"></li>
									<li class="is-pink">     <img src="images/gems/pink-gem.png"      alt="pink gem"></li>
									<li class="is-turquoise"><img src="images/gems/turquoise-gem.png" alt="turquoise gem"></li>
									<li class="is-orange">   <img src="images/gems/orange-gem.png"    alt="orange gem"></li>
									<li class="is-green">    <img src="images/gems/green-gem.png"     alt="green gem"></li>
									<li class="is-blue">     <img src="images/gems/blue-gem.png"      alt="blue gem"></li>
									<li class="is-darkblue"> <img src="images/gems/darkblue-gem.png"  alt="darkblue gem"></li>
									<li class="is-red">      <img src="images/gems/red-gem.png"       alt="red gem"></li>
								</ul>
							</div>		
						</div>
						<div class="grid-x grid-padding-x">
							<div class="cell medium-6 medium-offset-3">
								<p class="paragraph">Eu comecei do zero, mas hoje meu trabalho é aprimorado com pré-processadores, frameworks e <b style="color: #A6E22B;">SASS</b>, configurando projetos com <b style="color: #67D8EF;">Node</b> e versionando o código com <b style="color: #F92468;">Git</b>. Este próprio website foi criado desta forma!</p>
								<p><small>Design dos cubos criado por <a href="https://www.behance.net/rodolfohans" target="_blank">Rodolfo Hans</a>.</small></p>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--illustration">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<h2 class="sector-title">Planeta Ilustração</h2>
								<div class="rating">
									<img src="images/star-filled.png">
									<img src="images/star-filled.png">
									<img src="images/star-blank.png">
									<img src="images/star-blank.png">
									<span>Elementar</span>
								</div>
							</div>
							<div class="cell large-4 large-offset-8 medium-6 medium-offset-6">
								<div class="animation-wrap">
									<h3 class="sector-subtitle">Animação!</h3>
									<img src="images/planet-animation.png" alt="Planeta Animação" title="Planeta Animação" class="planet-animation">
									<div class="rating">
										<img src="images/star-filled.png">
										<img src="images/star-blank.png">
										<img src="images/star-blank.png">
										<img src="images/star-blank.png">
										<span>Aprendiz</span>
									</div>
								</div>
							</div>
							<div class="cell large-8 medium-8 medium-offset-2">
								<article class="sec-content">
									<p class="paragraph">Desde os primeiros anos de idade eu já gostava de desenhar — assim como assistir aos desenhos animados — o que continuou sendo um hobby e hoje se solidificou numa ambição profissional.</p>
									<p class="paragraph">Recentemente, como uma lâmpada se acendendo sobre minha cabeça, descobri que gostaria de tentar uma carreira de animador. Portanto, estou dando meus primeiros passos como aprendiz!</p>
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--asteroid">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<h2 class="sector-title">Asteroide Portfolio</h2>
							</div>
							<div class="cell medium-6 medium-offset-3">
								<p class="paragraph sec-content">Neste asteroide estão meus trabalhos de desenho,<br>pintura e animação. Clique nas imagens para<br>ler descrições sobre cada um deles.</p>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--portfolio">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<div class="portfolio-wrap">
									<div class="row">
										<div class="item">
											<figure><img src="images/portfolio/get-over-here.jpg" alt="Get Over Here - Portfolio" title="Get Over Here - Portfolio"></figure>
										</div>
										<div class="item">
											<figure><img src="images/portfolio/planets.png" alt="Planetas - Portfolio" title="Planetas - Portfolio"></figure>
										</div>
									</div>
									<div class="row">
										<div class="item">
											<figure><img src="images/portfolio/merry-christmas-folks.jpg" alt="Merry christmas, Folks! - Portfolio" title="Merry christmas, Folks! - Portfolio"></figure>
										</div>
										<div class="item extra">
											<figure><img src="images/portfolio/joe-monday.jpg" alt="Joe Monday - Portfolio" title="Joe Monday - Portfolio"></figure>
											<figure><img src="images/portfolio/brianville.jpg" alt="Brianville - Portfolio" title="Brianville - Portfolio"></figure>
										</div>
									</div>
									<div class="row">
										<div class="item">
											<figure><img src="images/portfolio/pidgeon.jpg" alt="Pombo - Portfolio" title="Pombo - Portfolio"></figure>
										</div>
										<div class="item">
											<figure><img src="images/portfolio/venusaur.png" alt="Venusaur - Portfolio" title="Venusaur - Portfolio"></figure>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cell">
							<div class="demo-reel-wrap">
								<div class="responsive-embed widescreen">
									<iframe src="https://player.vimeo.com/video/386368290" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--asteroids-end">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<a class="monolith" data-open="monolith-reveal"><img src="images/monolith.png"></a>
								<div class="large reveal customized" id="monolith-reveal" data-reveal>
									<div class="mask">
										<div class="reveal-content">
										  <h2 class="reveal-title">hey, você encontrou um easter-egg!</h2>
										  <p class="paragraph">Você encontrou o monólito de <b>2001: Uma Odisseia no Espaço</b>.<br>
										  	Para recompensar sua descoberta, digite <b>#medesculpedave</b> no campo<br>
										  	chamado “secret code” do formulário caso esteja entrando em<br>
										  contato para fazer um orçamento e receba 5% de desconto!</p>
										</div>
									</div>
								  <button class="close-button" data-close aria-label="Close modal" type="button">
								    <span aria-hidden="true">&times;</span>
								  </button>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--youtube">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<h2 class="sector-title"><b>Youtube</b> Channel</h2>
								<p class="paragraph">Tenho um canal no Youtube onde faço análises e<br>
									reflexões sobre arte e o mundo que a inspira.<br>
								Apoie o projeto se inscrevendo no canal!</p>
								<a href="https://www.youtube.com/channel/UCk8jr5xZEDF0CecQV01--Eg?view_as=subscriber?sub_confirmation=1" target="_blank" class="subscribe">Inscreva-se!</a>
								<a href="https://www.youtube.com/channel/UCk8jr5xZEDF0CecQV01--Eg?view_as=subscriber?sub_confirmation=1" target="_blank"><img src="images/yotube-channel-banner.jpg" alt="Banner do canal do Youtube" title="Banner do canal do Youtube"></a>
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="cell medium-4">
								<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/5YV_OTWr7tU">
									<img src="images/yt-video-1.jpg" alt="Youtube video" title="Youtube video">
									<figcaption>Analisando uma cena de Star Wars: O Despertar da Força</figcaption>
								</figure>
							</div>
							<div class="cell medium-4">
								<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/boKQbE4I_-8">
									<img src="images/yt-video-2.jpg" alt="Youtube video" title="Youtube video">
									<figcaption>A Estética de Zack Snyder</figcaption>
								</figure>
							</div>
							<div class="cell medium-4">
								<figure class="showVideo" data-open="videoModal" data-video="https://www.youtube.com/embed/vMKl6hjPzls">
									<img src="images/yt-video-3.jpg" alt="Youtube video" title="Youtube video">
									<figcaption>A Genialidade de Black Mirror</figcaption>
								</figure>
							</div>
							<div class="large reveal showVideo" id="videoModal" data-reveal>
								<div class="responsive-embed widescreen"><iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
							  <button class="close-button" data-close aria-label="Close modal" type="button">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
						</div>
					</div>
				</section>
			</main>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
	</body>
</html>