<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
<body class="page-wip">
	<div class="wrapper">
		<section class="hero-section">
		  <h1>Site em construção!</h1>
		  <article class="wip-description">
			  <p><i>Hey!</i> Meu nome é <b>Brian Moreira</b>. Sou um designer e desenvolvedor web com aptidões em animação 2D e edição audiovisual. No momento estou fazendo as ilustrações, criando os layouts e escrevendo os códigos deste website. Mas enquanto não fica pronto, você pode acessar meu <a href="../files/curriculo-brian-moreira-2020.pdf" target="_blank">currículo aqui</a> ou dar uma olhada no meu <a href="https://www.behance.net/brianalvesm" target="_blank">portfolio no Behance</a>.</p>
				<p>Também pode entrar em contato comigo atráves do e-mail<br>
				<a href="mailto:hey@brianmoreira.com">hey@brianmoreira.com</a> ou me mandar<br>
				uma mensagem no <a href="https://twitter.com/brianalvesm" target="_blank">twitter!</a></p>
		  </article>
		</section>
	</div>
</body>
</html>