<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/foundation.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="wrapper">
			<main>
				<section class="sec sec--hero">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<h1 class="logo"><img src="images/logo-brianmoreira-negative.png" alt="Logotipo Brian Moreira" title="Logotipo Brian Moreira"></h1>
							</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="cell medium-3 medium-order-1 small-6 small-order-2">
								<a href="#"><img src="images/sign-portfolio.png" alt="Link Porfolio" title="Link Porfolio"></a>
							</div>
							<div class="cell medium-6 medium-order-2 small-12 small-order-1">
								<p class="paragraph"><i>hey!</i> Meu nome é <b>Brian</b>. Sou um designer<br>e desenvolvedor front-end freelancer<br>aprendendo ilustração e animação 2D, buscando incorporar estas habilidades em projetos criativos.<br><br>Continue descendo e explore o universo.</p>
							</div>
							<div class="cell medium-3 medium-order-3 small-6 small-order-3">
								<a href="#"><img src="images/sign-contact.png" alt="Link Contato" title="Link Contato"></a>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--intro">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell medium-8 medium-offset-2 small-offset-0">
								<article>
									<p class="paragraph">Sou um explorador de mundos distintos de uma mesma galáxia.<br>
									Um astronauta coletando conhecimento e expandindo suas possibilidades.</p>
									<p class="paragraph">Abaixo estão os mundos que descobri em minha jornada,<br>
									classificados por níveis de conhecimento.</p>
									<img src="images/rocket.png" alt="Rocket Illustration">
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--design">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
									<div class="planet-design-wrap">
										<h2 class="sector-title">Planeta <b>Design</b></h2>
										<img src="images/planet-design.png" alt="Planeta Design" title="Planeta Design">
									</div>
									<p class="paragraph">Sou formado em <b>Design Gráfico</b>, o que me proporcionou<br>
										noções de criação de layout, diagramação, impressos,<br>
										branding e edição de imagem, mas através de seus fundamentos<br>design está presente eu todo o meu trabalho.</p>
									<div class="rating">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-blank.png">
										<img src="images/star-blank.png">
										<span>Elementar</span>
									</div>
							</div>
						</div>
					</div>
				</section>
				<section class="sec sec--web">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell medium-7">
								<article class="planet-web-wrap">
									<h2 class="sector-title"><img src="images/sector-title-web.png" alt="Desenvolvimento Web" title="Desenvolvimento Web"></h2>
									<p class="paragraph">10 anos de carreira como web designer e desenvolvedor front-end<br>
										— criando websites, escrevendo códigos em <b style="color: #A6E22B;">HTML</b>, me<br>
									arriscando no <b style="color: #67D8EF;">Javascript</b> e me divertindo com <b style="color: #F92468;">CSS</b>.</p>
									<div class="rating">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-filled.png">
										<img src="images/star-blank.png">
										<span>Proficiente</span>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>
				<section class="sec">
					<div class="grid-container">
						<div class="grid-x grid-padding-x">
							<div class="cell">
								<ul class="suite-animated suite-animated-milkyway">
									<li class="is-purple">   <img src="images/gems/purple-gem.png"    alt="purple gem"></li>
									<li class="is-pink">     <img src="images/gems/pink-gem.png"      alt="pink gem"></li>
									<li class="is-turquoise"><img src="images/gems/turquoise-gem.png" alt="turquoise gem"></li>
									<li class="is-orange">   <img src="images/gems/orange-gem.png"    alt="orange gem"></li>
									<li class="is-green">    <img src="images/gems/green-gem.png"     alt="green gem"></li>
									<li class="is-blue">     <img src="images/gems/blue-gem.png"      alt="blue gem"></li>
									<li class="is-darkblue"> <img src="images/gems/darkblue-gem.png"  alt="darkblue gem"></li>
									<li class="is-red">      <img src="images/gems/red-gem.png"       alt="red gem"></li>
								</ul>
							</div>		
						</div>
						<div class="grid-x grid-padding-x">
							<div class="cell medium-6 medium-offset-3">
								<p class="paragraph">Eu comecei do zero, mas hoje meu trabalho é aprimorado com pré-processadores, frameworks e <b style="color: #A6E22B;">SASS</b>, configurando projetos com <b style="color: #67D8EF;">Node</b> e versionando o código com <b style="color: #F92468;">Git</b>. Este próprio website foi criado desta forma!</p>
								<p><small>Design dos cubos criado por <a href="https://www.behance.net/rodolfohans" target="_blank">Rodolfo Hans</a>.</small></p>
							</div>
						</div>
					</div>
				</section>
			</main>
		</div>
		<script type="text/javascript" src="javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/scripts.js"></script>
	</body>
</html>