@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-lightitalic';
  src: url("../fonts/montserrat-lightitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'montserrat-medium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-mediumitalic';
  src: url("../fonts/montserrat-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'montserrat-semibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'cantarell-regular';
  src: url("../fonts/cantarell-regular-webfont.woff2") format("woff2"), url("../fonts/cantarell-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'cantarell-bold';
  src: url("../fonts/cantarell-bold-webfont.woff2") format("woff2"), url("../fonts/cantarell-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'satisfy-regular';
  src: url("../fonts/satisfy-regular-webfont.woff2") format("woff2"), url("../fonts/satisfy-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.rating {
  display: inline; }
  .rating img {
    width: 35px; }
    .rating img:nth-child(-n+3) {
      margin-right: 11px; }
  .rating span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
    font-family: "cantarell-regular", sans-serif, "montserrat-light", sans-serif, sans-serif;
    margin-top: 10px; }

.suite-animated {
  position: relative;
  z-index: -1; }
  .suite-animated li {
    position: absolute;
    top: auto;
    margin-left: -240px;
    width: 400px;
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); }
    .suite-animated li.is-blue {
      opacity: 1;
      left: 50%;
      bottom: 0; }
    .suite-animated li.is-darkblue {
      opacity: 1;
      left: calc(50% + 140px);
      bottom: 0;
      z-index: 7; }
    .suite-animated li.is-orange {
      opacity: 0;
      left: 50%;
      bottom: 0;
      z-index: 7; }
    .suite-animated li.is-purple {
      opacity: 1;
      left: calc(50% - 70px); }
    .suite-animated li.is-green {
      opacity: 1;
      left: calc(50% + 70px);
      bottom: 40px;
      z-index: 6; }
    .suite-animated li.is-pink {
      opacity: 1;
      left: calc(50% - 140px);
      bottom: 80px;
      z-index: 3; }
    .suite-animated li.is-turquoise {
      opacity: 1;
      left: calc(50% + 140px);
      z-index: 2; }
    .suite-animated li.is-red {
      opacity: 1;
      left: calc(50% - 70px);
      z-index: 1; }
  .suite-animated-milkyway li.is-darkblue {
    animation: darkblue-milkyway 1s ease-in-out forwards; }
  .suite-animated-milkyway li.is-pink {
    animation: pink-milkyway 1s ease-in-out forwards; }
  .suite-animated-milkyway li.is-orange {
    animation: orange-milkyway 1s ease-in-out forwards; }
  .suite-animated-milkyway li.is-purple {
    animation: purple-milkyway 2s ease-in-out forwards; }
  .suite-animated-milkyway li.is-green {
    animation: green-milkyway 2s ease-in-out forwards; }
  .suite-animated-milkyway li.is-blue {
    animation: blue-milkyway 2s ease-in-out forwards; }
  .suite-animated-milkyway li.is-turquoise {
    animation: turquoise-milkyway 2s ease-in-out forwards; }
  .suite-animated-milkyway li.is-red {
    animation: red-milkyway 2s ease-in-out forwards; }
  .suite-animated-andromeda li.is-darkblue {
    animation: darkblue-andromeda 1s ease-in-out forwards; }
  .suite-animated-andromeda li.is-pink {
    animation: pink-andromeda 1s ease-in-out forwards; }
  .suite-animated-andromeda li.is-orange {
    animation: orange-andromeda 2s ease-in-out forwards; }
  .suite-animated-andromeda li.is-purple {
    animation: purple-andromeda 2s ease-in-out forwards; }
  .suite-animated-andromeda li.is-green {
    animation: green-andromeda 2s ease-in-out forwards; }
  .suite-animated-andromeda li.is-blue {
    animation: blue-andromeda 2s ease-in-out forwards; }
  .suite-animated-andromeda li.is-turquoise {
    animation: turquoise-andromeda 1s ease-in-out forwards; }
  .suite-animated-andromeda li.is-red {
    animation: red-andromeda 2s ease-in-out forwards; }

@keyframes darkblue-milkyway {
  0% {
    opacity: 0;
    transform: translateX(70px) translateY(40px); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes darkblue-andromeda {
  0% {
    opacity: 1;
    transform: none; }
  100% {
    opacity: 0;
    transform: translateX(70px) translateY(40px);
    display: none; } }

@keyframes pink-milkyway {
  0% {
    opacity: 0;
    transform: translateX(-70px) translateY(-40px); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes pink-andromeda {
  0% {
    opacity: 1;
    transform: none; }
  100% {
    opacity: 0;
    transform: translateX(-70px) translateY(-40px);
    display: none; } }

@keyframes orange-milkyway {
  0% {
    opacity: 1;
    transform: none; }
  100% {
    opacity: 0;
    transform: translateX(-70px) translateY(40px); } }

@keyframes orange-andromeda {
  0% {
    opacity: 0;
    transform: translateX(-70px) translateY(40px); }
  50% {
    opacity: 0;
    transform: translateX(-70px) translateY(40px); }
  100% {
    opacity: 1;
    transform: none; } }

@keyframes purple-milkyway {
  0% {
    bottom: 118px;
    transform: translateX(140px);
    z-index: 3; }
  50% {
    bottom: 80px;
    transform: translateX(70px);
    z-index: 4; }
  100% {
    bottom: 40px;
    transform: none;
    z-index: 4; } }

@keyframes purple-andromeda {
  0% {
    bottom: 40px;
    z-index: 4; }
  50% {
    bottom: 80px;
    transform: translateX(70px);
    z-index: 4; }
  100% {
    bottom: 118px;
    transform: translateX(140px);
    z-index: 3; } }

@keyframes green-milkyway {
  0% {
    bottom: 118px;
    transform: translateX(140px);
    z-index: 3; }
  50% {
    bottom: 80px;
    transform: translateX(70px);
    z-index: 4; }
  100% {
    bottom: 40px;
    transform: none;
    z-index: 4; } }

@keyframes green-andromeda {
  0% {
    bottom: 40px;
    z-index: 4; }
  50% {
    bottom: 80px;
    transform: translateX(70px);
    z-index: 4; }
  100% {
    bottom: 118px;
    transform: translateX(140px);
    z-index: 3; } }

@keyframes turquoise-milkyway {
  0% {
    bottom: 88px;
    transform: translateY(-70px); }
  50% {
    bottom: 118px;
    transform: translateX(70px); }
  100% {
    bottom: 80px;
    transform: none; } }

@keyframes turquoise-andromeda {
  0% {
    bottom: 80px;
    transform: none; }
  100% {
    bottom: 88px;
    transform: translateY(-70px); } }

@keyframes red-milkyway {
  0% {
    bottom: 158px;
    transform: translateX(70px); }
  50% {
    bottom: 158px;
    transform: translateX(70px); }
  100% {
    bottom: 120px;
    transform: none; } }

@keyframes red-andromeda {
  0% {
    bottom: 120px;
    transform: none; }
  50% {
    bottom: 158px;
    transform: translateX(70px); }
  100% {
    bottom: 158px;
    transform: translateX(70px); } }

@keyframes blue-milkyway {
  0% {
    transform: translateX(0px) translateY(-80px);
    z-index: 5; }
  50% {
    transform: translateX(-70px) translateY(-39px);
    z-index: 5; }
  100% {
    transform: none;
    z-index: 7; } }

@keyframes blue-andromeda {
  0% {
    transform: none;
    z-index: 7; }
  50% {
    transform: translateX(-70px) translateY(-39px);
    z-index: 5; }
  100% {
    transform: translateX(0px) translateY(-80px);
    z-index: 5; } }

body, html {
  margin: 0;
  height: 100%;
  font: normal normal 14px/1.5 "montserrat-light", sans-serif;
  background-color: black;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  background-repeat: no-repeat;
  text-align: center; }
  *:after, *:before {
    background-repeat: no-repeat; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d; }
  body, body * {
    transform-style: preserve-3d; }

section {
  width: 100%; }

li {
  list-style: none; }

b {
  font-family: "montserrat-semibold", sans-serif; }

i {
  font-family: "montserrat-lightitalic", sans-serif; }

a,
a:link,
a:active {
  color: inherit; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  position: relative; }
  .wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/space-bg-first-half-min.jpg");
    background-size: cover;
    background-position: top center;
    transform: translateZ(-1px) scale(2);
    z-index: -1000; }

.paragraph {
  font-size: 19px;
  font-weight: 300; }
  @media only screen and (max-width: 40rem) {
    .paragraph {
      font-size: 16px; } }

.sec {
  position: relative;
  padding: 250px 0; }
  .sec--hero {
    background-image: url("../images/home-planet.png");
    background-position-x: center;
    padding-top: 0; }
    .sec--hero:after {
      content: "";
      display: block;
      width: 280px;
      height: 814px;
      background-image: url("../images/offset-planet.png");
      background-size: contain;
      background-position: center right;
      position: absolute;
      z-index: 0;
      right: 0;
      animation: offset-planet 120s ease-in-out alternate infinite; }
    .sec--hero .logo {
      margin: 200px auto 150px; }
    .sec--hero .paragraph {
      margin-top: 80px; }
    @media only screen and (max-width: 80rem) {
      .sec--hero {
        background-size: contain; } }
    @media only screen and (max-width: 40rem) {
      .sec--hero {
        background-size: 40rem; }
        .sec--hero:after {
          width: 140px;
          height: 407px; }
        .sec--hero .logo {
          margin: 100px auto 100px; }
        .sec--hero .paragraph {
          margin-top: 40px; } }
  .sec--intro article {
    position: relative; }
    .sec--intro article img {
      position: absolute;
      left: calc(50% - 253px/4); }
  .sec--design .planet-design-wrap {
    position: relative; }
  .sec--design .sector-title {
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 783px/2);
    font-family: "cantarell-regular", sans-serif, "montserrat-light", sans-serif, sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 16px;
    text-transform: uppercase;
    z-index: 1; }
    .sec--design .sector-title b {
      font-family: "cantarell-bold", sans-serif, "montserrat-light", sans-serif, sans-serif;
      font-weight: 700; }
    @media only screen and (max-width: 40rem) {
      .sec--design .sector-title {
        left: initial;
        font-size: 36px; } }
  .sec--web {
    background-image: url("../images/planet-web.png");
    background-position: top right;
    margin-bottom: 250px; }
    .sec--web .planet-web-wrap .sector-title {
      position: relative;
      display: inline-block; }
      .sec--web .planet-web-wrap .sector-title:before {
        content: "";
        display: block;
        width: 341px;
        height: 188px;
        background-image: url("../images/flying-saucer.png");
        position: absolute;
        top: -110px;
        left: -110px; }
    @media only screen and (max-width: 40rem) {
      .sec--web {
        background-position: top center;
        background-size: contain;
        padding-top: 375px; } }

@keyframes offset-planet {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(200px); } }
